* {
    font-family: 'Rubik';
}

.container00 {
    &.container08 {
        background-image: url(../../images/humanFlight/01.jpg);
    }

    &.container09 {
        background-image: url(../../images/humanFlight/02.jpg);
    }

    &.container10 {
        background-image: url(../../images/humanFlight/03.jpg);
    }

    &.container11 {
        background-image: url(../../images/humanFlight/04.jpg);
    }

    &.container12 {
        background-image: url(../../images/humanFlight/05.jpg);
    }
}

.container01Content {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        font-size: 100px;
    }

    p {
        margin-top: 20px;
        margin-bottom: 50px;
        font-size: 40px;
        font-weight: 300;
    }

    img {
        width: 130px;
    }
}

.eartDesc {
    background-color: #000;
    width: 100%;
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .textDescEarth {
        color: $table-item;
        font-weight: 400;
        width: 800px;
    }
}

.containerRightContent {
    margin-left: 55%;
    padding-top: 15%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.titleSection {
    font-size: 60px;
    font-weight: bold;
}

.subTitle {
    font-weight: 300;
    margin-bottom: 40px;
}

.container12,
.container12,
.titleSection {
    padding-top: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

@media (max-width: 1024px) {
    .container01Content {
        h1 {
            font-size: 90px;
        }

        p {
            margin: 20px 0px;
            font-size: 30px;
            font-weight: 300;
        }
    }

    .containerRightContent {
        margin-left: 50%;
        padding-top: 20%;
    }

    .titleSection {
        font-size: 50px;
        font-weight: bold;
    }

    .subTitle {
        font-weight: 300;
        margin-bottom: 40px;
    }

    .containerLeftContent {
        margin-left: 5%;
        padding-top: 20%;
    }
}